<h2>Contactez-moi 📮</h2>
<hr class="my-4" />
<p>Une idée de projet ? Vous êtes intéressés par mes compétences et réalistions, n'hésitez pas à me joindre si vous avez des questions.</p>

<div class="d-flex justify-content-between align-middle w-50 mx-auto pt-5">
    <a href="https://www.linkedin.com/in/pierre-julien/">
        <i class="fab fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-5x"></i>
    </a>
    <a href="mailto:pierrejulienpro@gmail.com">
        <i class="fas fa-envelope fa-lg white-text mr-md-5 mr-3 fa-5x"></i>
    </a>
</div>