<h2>Contactez-moi 📮</h2>
<hr class="my-4" />
<p>Une idée de projet ? Vous êtes intéressés par mes compétences et réalistions, n'hésitez pas à me joindre si vous avez des questions.</p>
<ul>
    <li>
        <a href="mailto:pierrejulienpro@gmail.com">
            Email
        </a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/pierre-julien/" target="_blank">
            Linkedin
        </a>
    </li>
</ul>