<div class="text-center">
    <h1>Pierre Julien</h1>
    <p>Ingénieur logiciel <span role="img" aria-label="informaticien">👨‍💻</span></p>
    <figure class="figure">
        <img src="~/images/photo_profil.png" height="250" width="250" class="rounded" alt="Pierre Julien" />
    </figure>
    <p>Etudiant en 5ème année d'ingénierie du logiciel à <a href="https://www.intechinfo.fr/" target="_blank" rel="noopener noreferrer">IN'TECH Sud</a> et alternant chez <a href="http://www.infomil.com/" target="_blank" rel="noopener noreferrer">INFOMIL</a>.</p>

    <div class="col-lg-9 mx-auto">
        <hr class="my-4" />
        <p class="text-justify">Passionné par les nouvelles technologies depuis mon plus jeune âge, j’ai décidé de poursuivre cette voie en pratiquant l’informatique dans ma vie professionnelle.</p>
        <p class="text-justify">Je suis quelqu'un qui est curieux et optimistre de nature et j'aime travailler pour des choses qui ont du sens pour moi. Dans mes centres d'interêts on retrouve les claviers mécanique que j'affectionne particulirèment ainsi que les jeu de simulation.</p>
        <p class="text-justify">Titulaire d'un baccalauréat professionnel, j'ai commencé mes études supérieures à IN'TECH en 2016. Une école d'informatique en 5 ans qui délivre un diplôme d'Expert en Ingénierie du Logiciel (RNCP niveau 1).</p>
        <p class="text-justify">Je suis actuellement en poste chez INFOMIL depuis 2 ans, en tant qu'Ingénieur logiciel. Aujourd’hui, j’arrive à la fin de mon cursus avec un CDI à la main, c’est pourquoi je suis fier de vous présenter ce portfolio que j’ai moi-même développé. En ce qui concerne mon projet professionnel, je souhaite pour les années à venir améliorer mes compétences en développement et me spécialiser dans la sécurité des terminaux mobiles.</p>
        <hr class="my-4" />
    </div>
    
    <a href="https://www.linkedin.com/in/pierre-julien/" target="_blank" rel="noopener noreferrer">
        <button type="button" class="btn btn-outline-primary btn-lg">Linkedin</button>
    </a>
</div>