<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="mx-auto text-center">
                <div class="display-t js-fullheight">
                    <div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
                        <div class="profile-thumb" id="profile-thumb"></div>
                        <h1><span>Pierre Julien</span></h1>
                        <h3><span>Ingénieur logiciel</span></h3>
                        <p></p>
                        <ul class="fh5co-social-icons">
                            <li><a href="https://twitter.com/href404" target="_blank"><i
                                        class="icon-twitter2"></i></a></li>
                            <li><a href="https://linkedin.com/in/pierre-julien" target="_blank"><i
                                        class="icon-linkedin2"></i></a></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="fh5co-about" class="animate-box">
    <div class="container">
        <div class="row">
            <div class="mx-auto text-center fh5co-heading">
                <h2>A propos</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mx-auto text-justify">
                <p>Passionné par les nouvelles technologies depuis mon plus jeune âge, j’ai décidé de poursuivre cette voie en pratiquant l’informatique dans ma vie professionnelle.</p>
                <p>Je suis quelqu'un qui est curieux et optimiste de nature et j'aime travailler pour des choses qui ont du sens pour moi. Dans mes centres d'interêts on retrouve les claviers mécaniques que j'affectionne particulièrement ainsi que les jeux de simulation.</p>
                <p>Titulaire d'un baccalauréat professionnel, j'ai commencé mes études supérieures à IN'TECH en 2016. Une école d'informatique en 5 ans qui délivre un diplôme d'expert en ingénierie du logiciel (RNCP niveau 1).</p> 
                <p>Je suis actuellement en poste chez INFOMIL depuis 2 ans, en tant qu'ingénieur logiciel. Aujourd’hui, j’arrive à la fin de mon cursus avec un CDI à la main, c’est pourquoi je suis fier de vous présenter ce portfolio que j’ai moi-même développé.</p>
                <p>En ce qui concerne mon projet professionnel, je souhaite pour les années à venir améliorer mes compétences en développement et me spécialiser dans la sécurité des terminaux mobiles.</p>
                <ul class="fh5co-social-icons text-center">
                    <li><a href="https://twitter.com/href404" target="_blank"><i class="icon-twitter2"></i></a></li>
                    <li><a href="https://linkedin.com/in/pierre-julien" target="_blank"><i class="icon-linkedin2"></i></a></li>
                </ul>
                <p></p>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-resume" class="fh5co-bg-color">
    <div class="container">
        <div class="row animate-box">
            <div class="mx-auto text-center fh5co-heading">
                <h2>Expériences</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-offset-0">
                <ul class="timeline">
                    <li class="timeline-heading text-center animate-box">
                        <div>
                            <h3>Entreprise</h3>
                        </div>
                    </li>
                    <li class="animate-box timeline-unverted">
                        <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Alternance à INFOMIL</h3>
                                <span class="company mb-0">Période : Septembre 2019 à aujourd'hui</span>
                                <span class="company">Poste occupé : Développeur</span>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    Développement de l'outil de gestion des terminaux et optimiser la procédure de référencement des nouveaux modèles.
                                    <a asp-controller="Experience" 
                                       asp-action="Detail" 
                                       asp-route-experienceName="infomil-alternance">En savoir plus</a>
                                </p>
                                <a href="http://www.infomil.com/" target="_blank">
                                    <img src="images/infomil-logo.jpg" class="img-thumbnail w-25 my-2 mx-auto" alt="Logo INFOMIL" />
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Stage à INFOMIL</h3>
                                <span class="company mb-0">Période : Mars 2019 à Septembre 2019</span>
                                <span class="company">Poste occupé : Développeur</span>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    Développement de plusieurs modules permettant le diagnostic des problèmes rencontrés sur les terminaux.
                                    <a asp-controller="Experience" 
                                       asp-action="Detail" 
                                       asp-route-experienceName="infomil-stage">En savoir plus</a>
                                </p>
                                 <a href="http://www.infomil.com/" target="_blank">
                                    <img src="images/infomil-logo.jpg" class="img-thumbnail w-25 my-2 mx-auto" alt="Logo INFOMIL" />
                                </a>
                            </div>
                        </div>
                    </li>
                    <br>
                    <li class="timeline-heading text-center animate-box">
                        <div>
                            <h3>Études</h3>
                        </div>
                    </li>
                    <li class="animate-box timeline-unverted">
                        <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Etudiant à IN'TECH Sud</h3>
                                <span class="company mb-0">Période : Septembre 2016 à Septembre 2021</span>
                                <span class="company mb-0">Titre : Experts en Ingénierie du Logiciel (N°35419)</span>
                                <span class="company">Diplôme : Titre RNCP niveau 7</span>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    IN'TECH est l’École Supérieure d’Ingénierie informatique du Groupe ESIEA.
                                    <a asp-controller="Experience"
                                       asp-action="Detail"
                                       asp-route-experienceName="intech-sud">En savoir plus</a>
                                </p>
                                <a href="https://www.intechinfo.fr/campus-ecole-informatique/intech-agen/" target="_blank">
                                    <img src="images/intech-logo.png" class="img-thumbnail w-25 my-2 mx-auto" alt="Logo IN'TECH Sud"/>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-work" class="fh5co-bg-dark">
    <div class="container">
        <div class="row animate-box">
            <div class="mx-auto text-center fh5co-heading">
                <h2>Réalisations</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center col-padding animate-box">
                <a asp-controller="Achievement" 
                   asp-action="Detail" 
                   asp-route-achievementName="chambre_agriculture" 
                   class="work" 
                   id="work-chambre_agriculture">
                    <div class="desc">
                        <h3>MobiFarm</h3>
                        <span>Application mobile</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 text-center col-padding animate-box">
                <a asp-controller="Achievement" 
                   asp-action="Detail" 
                   asp-route-achievementName="wawee" 
                   class="work" 
                   id="work-wawee">
                    <div class="desc">
                        <h3>Wawee</h3>
                        <span>Application mobile</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 text-center col-padding animate-box">
                <a asp-controller="Achievement" 
                   asp-action="Detail" 
                   asp-route-achievementName="clinique_st_hilaire" 
                   class="work"
                   id="work-clinique_st_hilaire">
                    <div class="desc">
                        <h3>Doctors' Papers</h3>
                        <span>Site internet</span>
                    </div>
                </a>
            </div>
            <div class="col-md-6 text-center col-padding animate-box">
                <a asp-controller="Achievement"
                   asp-action="Detail"
                   asp-route-achievementName="still_english"
                   class="work"
                   id="work-still_english">
                    <div class="desc">
                        <h3>In'English</h3>
                        <span>Site internet</span>
                    </div>
                </a>
            </div>
            <div class="col-md-6 text-center col-padding animate-box">
                <a asp-controller="Achievement"
                   asp-action="Detail"
                   asp-route-achievementName="bureau_etudiant_intech" 
                   class="work" 
                   id="work-bureau_etudiant_intech">
                    <div class="desc">
                        <h3>Web Archi'Techs</h3>
                        <span>Site internet</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-skills" class="animate-box">
    <div class="container">
        <div class="row animate-box">
            <div class="mx-auto text-center fh5co-heading">
                <h2>Compétences</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="fh5co-blog animate-box">
                    <a asp-controller="Skill"
                       asp-action="Detail"
                       asp-route-skillName="csharp" 
                       class="blog-bg" 
                       id="skill-csharp"></a>
                    <div class="blog-text">
                        <h3><a asp-controller="Skill"
                               asp-action="Detail"
                               asp-route-skillName="csharp">C#</a></h3>
                        <p>Langage de programmation orienté objet et destiné à développer sur la plateforme Microsoft .NET.</p>
                        <ul class="stuff">
                            <li># Technique</li>
                            <li><a asp-controller="Skill"
                                   asp-action="Detail"
                                   asp-route-skillName="csharp">Lire plus<i class="icon-arrow-right22"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="fh5co-blog animate-box">
                    <a asp-controller="Skill"
                       asp-action="Detail"
                       asp-route-skillName="versionning"  
                       class="blog-bg" 
                       id="skill-versionning"></a>
                    <div class="blog-text">
                        <h3><a asp-controller="Skill"
                               asp-action="Detail"
                               asp-route-skillName="versionning">Versionning</a></h3>
                        <p>La gestion de versions consiste à gérer l'ensemble des versions d'un ou plusieurs fichiers.</p>
                        <ul class="stuff">
                            <li># Technique</li>
                            <li><a asp-controller="Skill"
                                   asp-action="Detail"
                                   asp-route-skillName="versionning">Lire plus<i class="icon-arrow-right22"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="fh5co-blog animate-box">
                    <a asp-controller="Skill"
                       asp-action="Detail"
                       asp-route-skillName="android" 
                       class="blog-bg" 
                       id="skill-android"></a>
                    <div class="blog-text">
                        <h3><a asp-controller="Skill"
                               asp-action="Detail"
                               asp-route-skillName="android">Android</a></h3>
                        <p>Système d'exploitation mobile open-source de Google qui équipe la majorité des smartphones et tablettes du marché.</p>
                        <ul class="stuff">
                            <li># Technique</li>
                            <li><a asp-controller="Skill"
                                   asp-action="Detail"
                                   asp-route-skillName="android">Lire plus<i class="icon-arrow-right22"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="fh5co-blog animate-box">
                    <a asp-controller="Skill"
                       asp-action="Detail"
                       asp-route-skillName="sql" 
                       class="blog-bg" 
                       id="skill-sql"></a>
                    <div class="blog-text">
                        <h3><a asp-controller="Skill"
                               asp-action="Detail"
                               asp-route-skillName="sql">SQL 📊</a></h3>
                        <p>Langage qui est utilisé pour communiquer avec des bases de données relationnelles. Il permet entre autre de lire, créer, modifier ou bien supprimer des données.</p>
                        <ul class="stuff">
                            <li># Technique</li>
                            <li><a asp-controller="Skill"
                                   asp-action="Detail"
                                   asp-route-skillName="sql">Lire plus<i class="icon-arrow-right22"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="fh5co-blog animate-box">
                    <a asp-controller="Skill"
                       asp-action="Detail"
                       asp-route-skillName="xamarin" 
                       class="blog-bg" 
                       id="skill-xamarin"></a>
                    <div class="blog-text">
                        <h3><a asp-controller="Skill"
                               asp-action="Detail"
                               asp-route-skillName="xamarin">Xamarin</a></h3>
                        <p>Framework permettant de créer des applications natives pour Android, iOS et macOS en utilisant du code .NET.</p>
                        <ul class="stuff">
                            <li># Technique</li>
                            <li><a asp-controller="Skill"
                                   asp-action="Detail"
                                   asp-route-skillName="xamarin">Lire plus<i class="icon-arrow-right22"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="fh5co-blog animate-box">
                    <a asp-controller="Skill"
                       asp-action="Detail"
                       asp-route-skillName="javascript"
                       class="blog-bg" 
                       id="skill-javascript"></a>
                    <div class="blog-text">
                        <h3><a asp-controller="Skill"
                               asp-action="Detail"
                               asp-route-skillName="javascript">JavaScript</a></h3>
                        <p>Souvent abrégé en "JS", c'est un langage de script léger, orienté objet, principalement connu comme le langage de script des pages web.</p>
                        <ul class="stuff">
                            <li># Technique</li>
                            <li><a asp-controller="Skill"
                                   asp-action="Detail"
                                   asp-route-skillName="javascript">Lire plus<i class="icon-arrow-right22"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="fh5co-blog animate-box">
                    <a asp-controller="Skill"
                       asp-action="Detail"
                       asp-route-skillName="communication"
                       class="blog-bg" 
                       id="skill-communication"></a>
                    <div class="blog-text">
                        <h3><a asp-controller="Skill"
                               asp-action="Detail"
                               asp-route-skillName="communication">Communication</a></h3>
                        <p>Capacité d’un individu à échanger ou transmettre, que ce soit oralement ou par écrit, une information à une ou plusieurs personnes.</p>
                        <ul class="stuff">
                            <li># Transverse</li>
                            <li><a asp-controller="Skill"
                                   asp-action="Detail"
                                   asp-route-skillName="communication">Lire plus<i class="icon-arrow-right22"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="fh5co-blog animate-box">
                    <a asp-controller="Skill"
                       asp-action="Detail"
                       asp-route-skillName="travail_equipe" 
                       class="blog-bg" 
                       id="skill-travail_equipe"></a>
                    <div class="blog-text">
                        <h3><a asp-controller="Skill"
                               asp-action="Detail"
                               asp-route-skillName="travail_equipe">Travail d'équipe 👨‍👩‍👧‍👦</a></h3>
                        <p>Concept dans lequel des personnes vont interagir et s’organiser entre elles afin d’atteindre un objectif commun.</p>
                        <ul class="stuff">
                            <li># Transverse</li>
                            <li><a asp-controller="Skill"
                                   asp-action="Detail"
                                   asp-route-skillName="travail_equipe">Lire plus<i class="icon-arrow-right22"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="fh5co-blog animate-box">
                    <a asp-controller="Skill"
                       asp-action="Detail"
                       asp-route-skillName="montage_video" 
                       class="blog-bg" 
                       id="skill-montage_video"></a>
                    <div class="blog-text">
                        <h3><a asp-controller="Skill"
                               asp-action="Detail"
                               asp-route-skillName="montage_video">Montage vidéo</a></h3>
                        <p>Travail consistant à sélectionner des séquences d'images en vidéo et à les assembler en une suite cohérente ou sous forme d'expression artistique.</p>
                        <ul class="stuff">
                            <li># Transverse</li>
                            <li><a asp-controller="Skill"
                                   asp-action="Detail"
                                   asp-route-skillName="montage_video">Lire plus<i class="icon-arrow-right22"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="fh5co-blog animate-box">
                    <a asp-controller="Skill"
                       asp-action="Detail"
                       asp-route-skillName="contact_client"  
                       class="blog-bg" 
                       id="skill-contact_client"></a>
                    <div class="blog-text">
                        <h3><a asp-controller="Skill"
                               asp-action="Detail"
                               asp-route-skillName="contact_client">Contact client</a></h3>
                        <p>Capacité d'une personne à récolter et analyser le besoin d'un tiers quelque soit le sujet ou sa forme.</p>
                        <ul class="stuff">
                            <li># Transverse</li>
                            <li><a asp-controller="Skill"
                                   asp-action="Detail"
                                   asp-route-skillName="contact_client">Lire plus<i class="icon-arrow-right22"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-consult">
    <div class="video fh5co-video" id="contact-img">
        <div class="overlay"></div>
    </div>
    <div class="choose animate-box">
        <h2>Contact</h2>
        <form onsubmit="return sendMail(event)">
            <div class="row form-group">
                <div class="col-md-12">
                    <input type="text" id="email" class="form-control" placeholder="Votre adresse électronique">
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-12">
                    <input type="text" id="subject" class="form-control"
                           placeholder="L'objet de votre message">
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-12">
                    <textarea name="message" id="message" cols="30" rows="10" class="form-control"
                        placeholder="A propos de votre message"></textarea>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Envoyer message" class="btn btn-primary">
            </div>

        </form>
    </div>
</div>

<div id="fh5co-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>Fait avec ♥️ par <a href="https://twitter.com/href404" target="_blank">Pierre Julien</a></p>
            </div>
        </div>
    </div>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
</div>

<script type="text/javascript" src="js/send-mail.js"></script>