@model Portfolio.ViewModels.Experience.ExperienceDetailViewModel

<div class="container col-md-8 mx-auto py-4">
    <h2>@Model.Experience.Title</h2>
    <span class="badge badge-primary">Expérience</span>
</div>