<h2>Expériences <span role="img" aria-label="experiences">🔥</span></h2>
<hr class="my-4" />
<div class="card-deck">
    <div class="card" id="infomil-stage">
        <a href="#infomil-stage"><img class="card-img-top" src="~/images/infomil.jpg" alt="INFOMIL"></a>
        <div class="card-body">
            <p class="card-text">
                SS2I Toulousaine, j’ai intégré le pôle étude et développement durant un stage de 6
                mois.
            </p>
            <p class="card-text">
                J’ai travaillé sur plusieurs projets de développement en <a asp-controller="Skill" asp-action="Detail" asp-route-skillname="csharp">C#</a> et <a asp-controller="Skill" asp-action="Detail" asp-route-skillname="android">Java</a>, ce qui m’a permis de
                développer mes compétences en ingénierie du logiciel.
            </p>
        </div>
        <div class="card-footer">
            <small class="text-muted">2019 – Stage de 6 mois</small>
        </div>
    </div>
    <div class="card" id="infomil-alternance">
        <a href="#infomil-alternance"><img class="card-img-top" src="~/images/infomil.jpg" alt="INFOMIL"></a>
        <div class="card-body">
            <p class="card-text">
                Je continue mon cursus dans la même entreprise ainsi que dans la même équipe de 5
                personnes.
            </p>
            <p class="card-text">
                Sur la période de travail en cours, je profite des opportunités proposées pour peaufiner mes
                compétences techniques et relationnelles.
            </p>
            <p class="card-text">
                Je participe au développement de l'équipe, et je monte en responsabilité sur les
                projets qui me sont confiés.
            </p>
        </div>
        <div class="card-footer">
            <small class="text-muted">2019 à aujourd'hui – Alternance de 2 ans</small>
        </div>
    </div>
</div>