<h2>Expériences <span role="img" aria-label="experiences">🔥</span></h2>
<hr class="my-4" />

<ul class="timeline">
    
    <li id="infomil-alternance">
         <div class="d-flex justify-content-between">
             <p><b>Alternant développeur à INFOMIL</b></p>
             <p><i>Septembre 2019 à aujourd'hui</i></p>
         </div>
         <p>Je continue mon cursus dans la même entreprise ainsi que dans la même équipe de 5
             personnes. Sur la période de travail en cours, je profite des opportunités proposées pour peaufiner mes
             compétences techniques et relationnelles. Je participe au développement de l'équipe, et je monte en responsabilité sur les
             projets qui me sont confiés.</p>
     </li>
    
    <li id="infomil-stage">
        <div class="d-flex justify-content-between">
            <p><b>Stage développeur à INFOMIL</b></p>
            <p><i>Mars 2019 à Septembre 2019</i></p>
        </div>
        <p>SS2I Toulousaine, j’ai intégré le pôle étude et développement durant un stage de 6 mois. J’ai travaillé sur plusieurs projets de développement en <a asp-controller="Skill" asp-action="Detail" asp-route-skillname="csharp">C#</a> et <a asp-controller="Skill" asp-action="Detail" asp-route-skillname="android">Java</a>, ce qui m’a permis de développer mes compétences en ingénierie du logiciel.</p>
    </li>
    
       <li id="ecole-intech">
            <div class="d-flex justify-content-between">
                <p><b>Ecole INTECH du groupe AEN</b></p>
                <p><i>Septembre 2016 à Août 2021</i></p>
            </div>
            <p class="mt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales vehicula....</p>
        </li>

</ul>

<link rel="stylesheet" type="text/css" href="~/css/timeline.css" />