<h2>Expériences <span role="img" aria-label="experiences">🔥</span></h2>
<hr class="my-4" />


<ul class="timeline">
  <li>
    <div class="timeline-badge warning"><i class="fa fa-briefcase"></i>
    </div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">Alternant développeur à INFOMIL</h4>
      </div>
      <div class="timeline-body">
        <p>Je continue mon cursus dans la même entreprise ainsi que dans la même équipe de 5 personnes. Sur la période de travail en cours, je profite des opportunités proposées pour peaufiner mes compétences techniques et relationnelles.</p>
        <p>Je participe au développement de l'équipe, et je monte en responsabilité sur les projets qui me sont confiés.</p>
      </div>
      <hr>
      <p class="mb-0"><i>Septembre 2019 à aujourd'hui - 2 ans</i></p>
    </div>
  </li>
  <li class="timeline-inverted">
    <div class="timeline-badge info">
          <i class="fa fa-graduation-cap"></i>
    </div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">Bachelor Informatique - Ingénierie du Logiciel</h4>
      </div>
      <div class="timeline-body">
        <p>Suite à mon stage de 6 mois en entreprise et aux compétences acquises durant les 2 ans et demi passé à l'école IN'TECH Sud, j'obtiens mon bachelor d'informatique avec option en ingénierie du logiciel.</p>
      </div>
      <hr>
      <p class="mb-0"><i>Septembre 2019 - <a href="~/docs/bachelor.pdf" target="_blank">Attestation de réussite</a></i></p>
    </div>
  </li>
  <li>
      <div class="timeline-badge warning"><i class="fa fa-briefcase"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Stage développeur à INFOMIL</h4>
        </div>
        <div class="timeline-body">
          <p>SS2I Toulousaine, j’ai intégré le pôle étude et développement durant un stage de 6 mois. J’ai travaillé sur plusieurs projets de développement en <a asp-controller="Skill" asp-action="Detail" asp-route-skillname="csharp">C#</a> et <a asp-controller="Skill" asp-action="Detail" asp-route-skillname="android">Java</a>, ce qui m’a permis de développer mes compétences en ingénierie du logiciel.</p>
        </div>
        <hr>
        <p class="mb-0"><i>Mars 2019 à Septembre 2019 - 6 mois</i></p>
      </div>
    </li>
  <li class="timeline-inverted">
    <div class="timeline-badge success">
      <i class="fas fa-school"></i>
    </div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">INTECH Sud - Groupe AEN</h4>
      </div>
      <div class="timeline-body">
        <p>Je rejoint l'école INTECH Sud qui m'a permis de faire mes premiers pas dans l'informatique.</p>
        <p>Durant 3 ans, je réalise avec différents camarades des projets concrets en lien direct avec des entreprises. Les 2 dernières années m'ont permis de compléter ma formation en stage et alternance.</p>
      </div>
      <hr>
      <p class="mb-0"><i>Septembre 2016 à Mars 2019 - 2 ans et demi</i></p>
    </div>
  </li>
</ul>

<link rel="stylesheet" type="text/css" href="~/css/timeline.css" />